body {
  background: #121212;
}
header {
  text-align: center;
  margin: 1rem 0;
}
div {
  position: relative;
  width: 95%;
  max-width: 600px;
  margin: 1rem auto;
  &:after {
    content: '';
    padding-bottom: 100%;
    display: block;
  }
  canvas {
    &:first-child {
      background: black;
    }
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
  }
}
